.topbar-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 1px solid var(--outline);
    border-bottom: 1px solid var(--outline);
    height: 50px;
}

.search-input,
.right-menu {
    display: flex;
    align-items: center;
}

.right-menu {
    justify-content: flex-end;
    margin-right: 1em;
}

.right-menu button {
    padding: 0 15px;
}

.search-input i {
    margin-left: 1em;
    color: var(--dark);
}

.search-input input {
    font-size: 16px;
    color: var(--dark);
    width: 95%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 50px;
    border: none;
}

.avatar {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../../assets/images/avatar_2.jpg);
    border-radius: 50%;
    cursor: pointer;
    height: 36px;
    width: 36px;
}