.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    width: 100%;
    overflow: auto;
}

::ng-deep.mat-footer-row,
tr.mat-row {
    height: 70px;
}

.shadow-table {
    box-shadow: var(--shadow-panel) !important;
}

.active {
    padding: 8px 25px;
    background-color: var(--success);
    border-radius: 20px;
    color: white;
}

.staging {
    padding: 8px 25px;
    background-color: var(--warning);
    border-radius: 20px;
    color: white;
}

.revisions {
    padding: 8px 25px;
    background-color: var(--danger);
    border-radius: 20px;
    color: white;
}