.container {
    height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
}

.main-window {
    padding: 1em;
    border-left: 1px solid var(--primary);
    overflow-y: auto;
    max-height: calc(100vh - (50px + 2em));
}