.inner-container {
    padding: 1.5em;
    margin-top: 1em;
    background: white;
    box-shadow: var(--shadow-panel);
}

::ng-deep app-dynamic-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
}