.sidebar {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    &-header {
        height: 50px;
        display: flex;
        align-items: center;
    }

    &-item {
        list-style: none;
        overflow: hidden;
    }

    &-menu-header {
        display: block;
        padding: 16px 20px;
        background-color: var(--primary);
        color: white;
        text-decoration: none;
        cursor: pointer;

        .angle {
            float: right;
        }
    }

    &-menu {
        background-color: var(--white);
        overflow: hidden;
        transition: max-height 0.3s;
        max-height: 0;
        padding-left: 0;

        li {
            display: block;
            padding: 16px 26px;
            text-decoration: none;
            border-bottom: 1px solid var(--outline);
            color: var(--dark);
            font-size: 14px;
            position: relative;
            outline: none;
            cursor: pointer;
        }
    }
}

.activeOption {
    border-left: 6px solid var(--danger);
    padding-left: 20px !important;
}

.sidebar-item.active>.sidebar-menu-header {
    border-top-color: var(--info);
    background-color: var(--info);
}

.open {
    max-height: 10em;
}